#nav-bar {
    z-index: 1;
    background-color: #00a087;
    color:#e8fdff;
    position: fixed;
    height:80px;
    width:100vw;
    padding-left: 2em;
    padding-right: 2em;
    .logo{
        float: left;
    height:80px;
    width:80px;
    margin-right: 10px;
    }
    .header{
        float: left;
    font-size:35px;
    line-height:80px;

    }
    button{
        font-size:30px;
        float:right;
        margin-top:5px;
        color: #00a087;
        background-color: rgb(185, 191, 196)
    }
    button:hover{
        background-color:white;
        color:black
}
}
.logIn{
    float:right;
    position: relative;
    top:30%;


}
.regBot{
    float:right
}