@import 'layout';
$boxBordercolor: rgb(148, 144, 144);
#errorMessage{
    color: red;
    display:none;
}
article.tweet{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width:auto;
    min-height:160px;
    max-width:30vw ;
    margin-left:2em;
    margin-top: 2em;
    margin-right:2em;
    border: 4px solid $boxBordercolor;
    border-radius: 10px;
    opacity: 0.5;
    transition: 1s;
    &:hover{
        opacity: 1;
        .icons{
            opacity: 1;
            visibility: visible;
        }
    }
    p{  
        flex:1;
        width: 100%;
        min-height:10px;
        margin-left: 10px;
        margin-right:10px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
    header{
        flex:1;
        width:100%;
        height:80px;
        background-color:rgb(236, 230, 230);
        display:flex;
        
        .userID{
            font-size:20px;
            flex:1;
            align-self:center;
        }
        .mrField{
            flex:1;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            font-size:15px;
            line-height:20px;
            text-align:right;     
        img{
            width:10%;
            height:100%;
            flex:1;
            }
        
        }
    }
    footer{
        border-top:2px solid black;
        flex:1
    }
    hr{
        margin-top:2em;
        margin-bottom:0;
        color:black;
    }
    .icons{  
            display: flex;
            float:right;
            opacity: 0;
            visibility: hidden;
            transition: 1s;
            i {
                flex:1;
                margin:5px;
            }
        
        
    }
    

}

/// register form
#regForm{
   position: relative;
   top:50vh;
   display:none;
   max-width: 30vw;
}

@media screen and (max-width: 500px) {
  
    article.tweet {
      font-size: medium;
      border: 2px solid $boxBordercolor;
      max-width: 90%;
     
      header {
        flex:1;
        width:100%;
        height:auto;
        background-color:rgb(236, 230, 230);
        display:flex;
        p {
          margin-right: 0.5rem;
        }
      }
  
      footer {
        font-size: medium;
      }
      hr{
        margin-top:2em;
        margin-bottom:1px;
        color:black;
    }
      
    .icons{  
        display: flex;
        float:right;
        opacity: 0;
        visibility: hidden;
        transition: 1s;
        i {
            flex:1;
            margin:1em;
        }
    
    
}
      
  
    }
  }